@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="col-3">
    <ul class="nav navbar-nav navbar-right align-items-center w-100 justify-content-end">
        <li><a class="text-white pr-3" asp-action="Index" asp-controller="Home">Inicio</a></li>
        <li><a class="text-white pr-3" asp-action="About" asp-controller="Home">Acerca de</a></li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li><a class="text-white" asp-action="Index" asp-controller="Categories">Categorias</a></li>
        }
    </ul>
</div>